services:
  web:
    build: ./backend      
    command: sh -c "mkdir -p /app/static-volume && cp -rn /app/static/. /app/static-volume/ 2>/dev/null || true && daphne -b 0.0.0.0 -p 8000 config.asgi:application"                   
    expose:
      - "8000"
    environment:
    - DJANGO_SETTINGS_MODULE=config.settings 
    depends_on:
      - redis
      - ai-service
    volumes:
      - ./backend/db.sqlite3:/app/db.sqlite3
      - django-static:/app/static-volume

  ai-service:
    build: ./ai-service
    expose:
      - "8001"
    environment:
      - GROQ_API_KEY=${GROQ_API_KEY}
      - QDRANT_URL=${QDRANT_URL}
      - QDRANT_API_KEY=${QDRANT_API_KEY}

  redis:
    image: redis:7-alpine
    expose:
      - "6379"

  frontend:
    build: ./frontend
    volumes:
      - frontend-dist:/app/output
    command: sh -c "npm run build && rm -rf /app/output/* /app/output/.[!.]* 2>/dev/null || true && cp -r dist/. /app/output/ && echo 'Build completed. Files in /app/output' && tail -f /dev/null"

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - frontend-dist:/usr/share/nginx/html:ro
      - django-static:/static:ro
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - web
      - frontend
    restart: unless-stopped

volumes:
  frontend-dist:
  django-static:                    