{% extends "admin/change_form.html" %}
{% block admin_change_form_document_ready %}
    {{ block.super }}
    <script>
        (function($) {
            $(document).ready(function() {
                setTimeout(function() {
                    var $typeSelect = $('#id_question_type');

                    var $choiceInline = $('.inline-related').filter(function() {
                        return $(this).find('.field-is_correct').length > 0; 
                    });

                    var $testCaseInline = $('.inline-related').filter(function() {
                        return $(this).find('.field-expected_output').length > 0;
                    });

                    var $correctAnswerField = $('.field-correct_answer');
                    var $stdinField = $('.field-stdin');

                    function updateFields() {
                        var type = $typeSelect.val();
                        console.log('Тип вопроса:', type);

                        $stdinField.hide();
                        $choiceInline.hide();
                        $testCaseInline.hide();
                        $correctAnswerField.hide();

                        if (type === 'code') {
                            $stdinField.show();
                            $testCaseInline.show();  
                            $choiceInline.hide();
                        } 
                        else if (type === 'single_choice' || type === 'multiple_choice') {
                            $stdinField.hide();
                            $choiceInline.show(); 
                            $testCaseInline.hide();
                        } 
                        else { 
                            $stdinField.hide();
                            $correctAnswerField.show();  
                            $choiceInline.hide();
                            $testCaseInline.hide();
                        }
                    }

                    $typeSelect.on('change', updateFields);
                    updateFields();
                }, 500);
            });
        })(django.jQuery);
    </script>
{% endblock %}